html { 
  background: url(images/bliss-tv.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
display: flex;
justify-content: center;
}

.window {
  font-size: 12px;
}


button {
  font-size: 12px;
}

label {
  font-size: 12px;
}