html { 
  background: url(images/bliss-tv.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

}

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
display: flex;
justify-content: center;
}

.window {
  min-width: 65%;
  max-width: 70px;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 20px;
}


button {
  font-size: 12px;
}

label {
  font-size: 12px;
}


