html {
  background-image: linear-gradient(#008080, pink);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /*background-image: linear-gradient(#008080, pink);
  background-repeat: repeat;
  /*background-image: url("images/clouds-gif.gif");
  background-repeat: repeat;
  */
  padding-top: 20px;
}

@font-face {
  font-family: pxsans;
  src: url("fonts/px_sans_nouveaux.ttf");
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none !important;
}

.noDecoration,
a:link,
a:visited {
  text-decoration: none;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
}

.social-buttons {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  max-height: 100px;
  font-family: pxsans;
  font-size: 10px;
}


h1 {
  padding: 5px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  text-shadow: 2px 2px 8px pink;
  font-style: italic;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

h2 {
  color: #fff;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-weight: 200;
}

h3 {
  color: #fff;
  font-size: 12px;
  font-family: pxsans;
}

h4 {
  margin: 5px;
  font-size: 20px;
}

p {
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #008080;
  box-shadow:1px 1px 4px #e2e2e2;
  margin-top: 10px;
  margin-bottom: 10px;
}

u {
  text-decoration: underline;
}

th {
  text-align: left;
  padding: 8px;
  color: #fff;
  font-size: 20px;
  background-color: #008080;


}
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 5px;
  color: #000000;
  text-align: center;
  font-family: pxsans;
  font-size: 10px;
  justify-content: flex-start;
  font-style: normal;
  align-items: center;
  letter-spacing: 0.8px;
  height: 35px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  border: 2px solid;
  border-bottom-color: #bfbfbf;
  border-right-color: #bfbfbf;
  border-left-color: #bfbfbf;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
}

.footer-menu {
  background-color: navy;
  display: flex;
  align-content: center;
}

button.start {
  left: 2px;
  top: 2px;
  min-height: 28px;
  min-width: 75px;
  font-family: pxsans;
  font-size: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.game {
  left: 78px;
  top: 2px;
  height: 28px;
  width: 75px;
  font-family: pxsans;
  font-size: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

button.calculator {
  left: 154px;
  top: 2px;
  height: 28px;
  width: 95px;
  font-family: pxsans;
  font-size: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  margin-top: 0px;
  height: 60px;
  display: flex;
  flex-direction: column;
  width: 55%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.bevel-container {
  margin-top: 25px;
  padding: 5px;
  text-align: center;
  height: 55px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200px;
  max-width: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  border: 0px;
  border-style: inset;
  border-color: #fff;
  box-shadow: 0 1px 2px #fff, /*bottom external highlight*/ 0 -2px 2px #666,
    /*top external shadow*/ inset 0 -2px 2px rgba(0, 0, 0, 0.5),
    /*bottom internal shadow*/ inset 0 2px 2px rgba(255, 255, 255, 0.8); /*top internal highlight*/
}

.about-gallery {
  width: 80%;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-pic {
margin: 10px;
  box-shadow: 0 8px 9px #232323


}


img {
  max-width: 100%;
  max-height: 100%;
  
}


.past{
  text-decoration: line-through;
}


/* ----------------------- Word Art Styling------------------------*/

.wordart {
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wordart.blues .text {
  font-family: Impact, sans-serif;
  font-size: 3em;
  color: #b151aa;
  -webkit-text-stroke: 0.01em #fff;
  filter: progid:DXImageTransform.Microsoft.Glow(Color= turquoise,Strength=1);
  text-shadow: 0.13em -0.13em 0px turquoise;
  letter-spacing: -0.05em;
}

/* -------------------Windows 95 Stylings------------------------*/

.container {
  border: 2px solid;
  border-bottom-color: #535353;
  border-right-color: #535353;
  border-left-color: #dbdbdb;
  border-top-color: #dbdbdb;
  background-color: #bfbfbf;
  width: 90%;
  font-size: 18px;
  padding: 2px;
  margin-bottom: 10px;
}

.container-inner {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  min-height: 315px;
  max-height: 315px;
  border-bottom-color: #c7c7c7;
  border-right-color: #c7c7c7;
  border-left-color: #808080;
  border-top-color: #808080;
  background-color: #fff;
  padding: 10px;
  overflow-y: scroll;
}

.toolbar {
  list-style: none;
  padding: 2px 0;
  margin: 0;
  font-size: 11px;
  text-decoration: none;
  color: #000000;
  font-family: pxsans;
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  margin-top: 3px;
  margin-bottom: 1px;
  text-decoration: none;
  font-family: pxsans;
  font-size: 11px;
}

li:hover {
  background-color: turquoise;
  text-decoration: none;
}

li:active {
  background-color: #232323;
  color: turquoise;
  text-decoration: none;
}

.icon {
  margin-right: 9px;
}

.icon-footer {
  margin-right: 8px;
  height: 20px;
  margin-left: 1px;
}

.statusbar {
  border: 1px solid;
  border-color: #888 #dadada #dadada #888;
  display: inline-block;
  padding: 0px 5px;
  font-size: 10px;
  font-family: pxsans;
  padding: 5px;
}

.statusbar-footer {
  border: 1px solid;
  border-color: #888 #dadada #dadada #888;
  display: flex;
  align-items: center;
  position: fixed;
  height: 25px;
  right: 5px;
  padding: 5px;
  font-size: 10px;
  font-family: pxsans;
}

.title {
  background-color: navy;
  padding: 2px 4px 3px 4px;
  position: relative;
  display: flex;
  align-content: center;
}

button {
  border: 2px solid;
  border-bottom-color: #444;
  border-right-color: #444;
  border-left-color: #a6a6a6;
  border-top-color: #a6a6a6;
  background-color: #bfbfbf;
  position: absolute;
  font-size: 9px;
  line-height: 0;
  padding: 1px;
  height: 14px;
  width: 14px;
  top: 2px;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #ececec;
  -moz-box-shadow: inset 0px 0px 5px #ececec;
  box-shadow: inset 0px 0px 5px #ececec;
  outline: none;
}

button:focus {
  background-color: #232323;
  color: turquoise;
  text-decoration: none;
}

button.minimize {
  right: 44px;
  top: 3px;
  min-height: 20px;
  min-width: 20px;
}

button.expand {
  right: 23px;
  top: 3px;
  min-height: 20px;
  min-width: 20px;
}

button.times {
  right: 2px;
  top: 3px;
  min-height: 20px;
  min-width: 20px;
}

.bottom-button {
  height: 25px;
  width: 50px;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }

  .container-inner {
    min-height: 420px;
    max-height: 420px;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  
  .container {
    width: 75%;
  }

  .container-inner {
    min-height: 420px;
    max-height: 420px;
  }
}




@media (min-width: 600px) and (max-width: 767px) {
  
  .container {
    width: 70%;
  }

  .container-inner {
    min-height: 350px;
    max-height: 350px;
  }
}
}







